.models-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em 1em;
    grid-template-areas:
      ". . . ."
      ". . . .";
    text-align: center;
    font-size: 20px;
  }
