.app-wrapper {
  display: grid;
  margin: 0 auto;

  /* background-color: rgba(56, 50, 82, 0.849); */
  grid-template-areas:
  "h h"
  "c c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  padding: 18px;
  /* background-color:rgba(56, 50, 82, 0.849); */
}